table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.filter-section {
    padding        : 0% 0 5% 0;
    display        : flex;
    justify-content: space-between;
}

.active {
    background-color: #3f51b5;
    color           : white;
}

.filter-button-section {
    button {
        margin-right: 10px;
    }
}

.delete {
    color: red;
}

.incomplete {
    color: grey;
}

.completed {
    color: green;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.mat-header-cell {
    background-color: darkslateblue;
    color           : white;
    font-size       : 14px;
}

.table-section {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}